extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                

                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque, sem hendrerit faucibus pulvinar, nisi arcu lacinia magna, at facilisis est risus et nunc. Duis ultrices ullamcorper turpis nec vestibulum. Ut quis urna semper, suscipit odio in, iaculis metus. Donec convallis semper orci ac scelerisque. Ut in venenatis enim. Sed tempor sollicitudin sodales. Nunc in porttitor quam. In a purus mauris. Aliquam id elit in diam consequat accumsan quis vitae mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur fermentum porta varius. Proin et semper velit, id tristique augue. Integer molestie est at finibus volutpat. Nulla id velit convallis, ultricies velit condimentum, tristique mi.

                p potenti. Quisque ut orci lorem. Morbi at laoreet lacus. Etiam dignissim leo eget ex tincidunt vehicula. Proin quis sem a eros molestie efficitur nec ac elit. Donec in cursus felis, in pharetra turpis. In fringilla lorem sed nisi feugiat, sed dictum odio condimentum. Maecenas vel nibh quis leo eleifend blandit. Nunc mattis dolor non malesuada sagittis. Nullam nec sodales metus. Mauris eget scelerisque tellus.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class='img-fluid mb-4')           
                    h2.mb-4 Seguridad 
                    p In fringilla lorem sed nisi feugiat, sed dictum odio condimentum. Maecenas vel nibh quis leo eleifend blandit. Nunc mattis dolor non malesuada sagittis. Nullam nec sodales metus. Mauris eget scelerisque tellus.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class='img-fluid mb-4')           
                    h2.mb-4 Mejores Destinos 
                    p In fringilla lorem sed nisi feugiat, sed dictum odio condimentum. Maecenas vel nibh quis leo eleifend blandit. Nunc mattis dolor non malesuada sagittis. Nullam nec sodales metus. Mauris eget scelerisque tellus.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class='img-fluid mb-4')           
                    h2.mb-4 Mejores Precios
                    p In fringilla lorem sed nisi feugiat, sed dictum odio condimentum. Maecenas vel nibh quis leo eleifend blandit. Nunc mattis dolor non malesuada sagittis. Nullam nec sodales metus. Mauris eget scelerisque tellus.

                